- console.log('test');
nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      ul.nav.navbar-nav
        li#link--getWeather
          a(href="#") Get weather
        li#link--getStoredWeather
          a(href="#") Get Stored Weather
div.container
  h1 Main
  h2 Enter Your Zip
  input#zip.form-control.zip(type='text', placeholder='Enter Zip')
  button#zip--submit.btn.btn-default Submit
div.display.row
